@page
@model BulkyWebRazor_Temp.Pages.Categories.EditModel

<form method="post">
    <input asp-for="Category.Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Category</h2>
        </div>

        <div class="mb-3">
            <label asp-for="Category.Name"></label>
            <input asp-for="Category.Name" type="text" class="form-control" />
            <span asp-validation-for="Category.Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Category.DisplayOrder"></label>
            <input asp-for="Category.DisplayOrder" type="number" class="form-control" />
            <span asp-validation-for="Category.DisplayOrder" class="text-danger"></span>
        </div>

        <div class="d-flex flex-md-row flex-column gap-2">
            <button type="submit" class="btn btn-primary w-100 w-md-auto">
                Update
            </button>
            <a asp-controller="/Categories/index" asp-action="Index" class="btn btn-secondary border w-100 w-md-auto">
                Back to List
            </a>
        </div>
    </div>
</form>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}